.banner__announce{
    position: absolute;
    bottom: 2rem;
    left: 1rem;
}
.banner__announce-title{
    margin: .5rem 0;
    font-size: 2rem;
    font-weight: 500;
    font-weight: 700;
    color: var(--bannerTitle);
}
.banner__announce-info{
    margin: 0;
    color: var(--bannerTitle);
}

@media screen and (min-width: 768px){
    .banner__announce{
        left: 2rem;
        bottom: 3rem;
    }
    .banner__announce-title{
        font-size: 4rem;
    }
    .banner__announce-info{
        font-size: 1.8rem;
        font-weight: 700;
    }
}
@media screen and (min-width: 992px){
    
}