:root{
    --text: #010101;

    --bannerTitle: #eee;

    --bgBtn: #2A7AE4;

    --productTitle: #464646;

    --footerBg: #EAF2FD;

    --navTxtColor: var(--productTitle);

    --paddingContainer: 1rem;
    --paddingContainerTablet: 2rem;
    --paddingContainerDesktop: 1rem;
    
    --iconBg: #efefef;

}